@using DrinkIt.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>

<body>
    <div class="form">
        <img src="\Content\images\logoDrinkIT.png" alt="DrinkLogo">
        <h3>Login to your account</h3>
        <h5>Don't have an account? <a href="#" class="forget">Sign up</a></h5>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
    <div class="input-form">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="input-form">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-check">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </div>
            <div class="form-forgot">
                <a href="#" class="forget_password">I forgot my password</a>
            </div>
            <div class="input-form-button">
                <input type="submit" value="Log in">
            </div>
        }
    </div>
   
</body>
          
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
