@model DrinkIt.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
    <div class="form">
        <img src="\Content\images\logoDrinkIT.png" alt="DrinkLogo">
        <h3>Register</h3>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.Email)
            <div class="input-form">

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Password)
            <div class="input-form">

                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="input-form">

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="input-form-button">
                <input type="submit" value="Log in">
            </div>
        }
    </div>
</body>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
