@model DrinkIt.ViewModels.SettingsViewModel
@{
    ViewBag.Title = "Your account settings";
}

<h3 style="text-align:center">@ViewBag.Title</h3>
<h5 style="text-align:center" class="text-success">@ViewBag.StatusMessage</h5>
<div class="wrapper bg-white mt-sm-5 d-flex justify-content-center">
    <div style="width: 900px">
        @Html.AntiForgeryToken()
        <div class="row py-2 input-form  d-flex justify-content-center mt-3">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Age)
                @Html.TextBoxFor(model => model.Age, new { @readonly = "readonly", style = "text-align:center" })
            </div>
            <div class="col-md-4 offset-1">
                @Html.LabelFor(m => m.Weight)
                @Html.TextBoxFor(m => m.Weight, new { @readonly = "readonly", style = "text-align:center" })
            </div>
        </div>

        <div class="row py-2 input-form  d-flex justify-content-center">
            <div class=" col-md-4">
                @Html.LabelFor(m => m.Goal)
                @Html.TextBoxFor(m => m.Goal, new { @readonly = "readonly", style = "text-align:center" })
            </div>
            <div class="col-md-4 offset-1">
                @Html.LabelFor(m => m.Gender)
                @Html.TextBoxFor(model => model.Gender, new { @readonly = "readonly", style = "text-align:center" })
            </div>
        </div>

        <div class="row py-2 input-form  d-flex justify-content-center">
            <div class=" col-md-4">
                @Html.LabelFor(m => m.WakeUpTime)
                @Html.TextBoxFor(m => m.WakeUpTime, new { @readonly = "readonly", style = "text-align:center" })
            </div>
            <div class="col-md-4 offset-1">
                @Html.LabelFor(m => m.SleepTime)
                @Html.TextBoxFor(m => m.SleepTime, new { @readonly = "readonly", style = "text-align:center" })
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-md-4">
                @Html.ActionLink("Edit account settings", "Index", "Settings")
            </div>
            <div class="col-md-4 offset-1">
                @Html.ActionLink("Change your password", "ChangePassword")
            </div>
        </div>
    </div>
</div>
