@using DrinkIt.Models
@model DrinkIt.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Double percent = Math.Floor((Double) Model.AlreadyDrunk * 100 / (Double) Model.IntakeGoal);

}
<div class="container row">
    <div class="col text-center">
        <div class="row">
            <div class="col" style=" font-size: 35px">Today</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col" style="font-size: 23px">@Model.IntakeGoal ml</div>
                    <div class="w-100"></div>
                    <div class="col" style="font-size: 16px">Intake goal</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" style="font-size: 23px">@Model.AlreadyDrunk ml</div>
                    <div class="w-100"></div>
                    <div class="col" style="font-size: 16px">Already drunk</div>
                </div>
            </div>
        </div>
        <div>
            <svg version="1.1" x="0px" y="0px" style="display: none;">
                <symbol id="wave">
                    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
                    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
                    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
                    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
                </symbol>
            </svg>
            <div class="water-jar clip-svg">
                <div class="water-filling">
                    <div class="percentNum" id="count">@percent</div>
                    <div class="percentB">%</div>
                </div>
                <div id="water" class="water">
                    <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                        <use xlink:href="#wave"></use>
                    </svg>
                    <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                        <use xlink:href="#wave"></use>
                    </svg>
                </div>
            </div>

            <svg width="80%" viewbox="0 0 50 42">
                <defs>
                    <clipPath id="myClip">
                        <<path class="st0" d="M323.49,237.3c0,89.33-72.42,161.75-161.75,161.75S0,326.63,0,237.3c0-8.69,2.43-24.21,3.75-32.54
                     	C16,127.57,161.21,0,161.21,0s147.73,128.86,158.91,207.28C321.19,214.8,323.49,229.48,323.49,237.3z"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div>
            @Html.ActionLink("Add Drink", "Index", "Beverage", null, new {@class = "btn btn-primary buttonAdd", style = "font-size: 23px"})
        </div>
    </div>
    <div class="col">
        <div class="row text-center">
            <div class="col" style="font-size: 35px">History</div>
        </div>
        @if (Model.Drinks.Count == 0)
        {
            <div class="text-center text-secondary mt-4" style="font-size: 20px">Time to drink something!</div>
        }
        else
        {
            foreach (DrunkDrink drink in Model.PaginatedDrinks())
            {
                <div class="row pt-3">
                    <div class="col d-flex justify-content-end">
                        <div class="p-2" style="width: 70px;height: 70px;border: 2px solid #406ef9; border-radius: 50px;">
                            <img src="../../Content/images/Beverages/@drink.Beverage.Image" alt="done" width="50px" height="50px">
                        </div>
                    </div>
                    <div class="col-3 w-50 row">
                        <div class="col text-right" style="font-size: 25px">@drink.Beverage.Name</div>
                        <div class="w-100"></div>
                        <div class="col" style="font-size: 17px">@drink.Volume ml</div>
                    </div>
                    <div class="col-3 mt-2" style="font-size: 17px">@drink.Time.ToString("HH:mm")</div>
                </div>
            }
            if (Model.Drinks.Count > 6)
            {
                <nav class="mt-3">
                    <ul class="pagination pagination-lg justify-content-center">
                        @for (int i = 1; i <= Model.PageCount(); i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new {page = i})">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        }
    </div>
</div>