@using DrinkIt.Models
@model DrinkIt.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container row">
    <div class="col text-center">
        <div class="row">
            <div class="col" style=" font-size: 30px">Today</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col" style="font-size: 20px">@Model.IntakeGoal ml</div>
                    <div class="w-100"></div>
                    <div class="col" style="font-size: 14px">Intake goal</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" style="font-size: 20px">@Model.AlreadyDrunk ml</div>
                    <div class="w-100"></div>
                    <div class="col" style="font-size: 14px">Already drunk</div>
                </div>
            </div>
        </div>

        <div>
            <img class="p-lg-5-5" src="../../Content/images/waterdrops2.png" width="60%" height="55%">
        </div>
        <div>
            <button type="button" class=" btn-primary buttonAdd">Add drink</button>
        </div>
    </div>
    <div class="col">
        <div class="row text-center">
            <div class="col" style=" font-size: 30px">History</div>
        </div>
        @foreach (DrunkDrinks drink in @Model.Drinks)
        {
            <div class="row pt-3">
                <div class="col d-flex justify-content-end">
                    <img src="../../Content/images/check-mark.svg" alt="done" width="64px" height="64px">
                </div>
                <div class="col-3 w-50 row">
                    <div class="col text-right" style="font-size: 25px">@drink.Beverage.Name</div>
                    <div class="w-100"></div>
                    <div class="col" style="font-size: 14px">@drink.Volume ml</div>
                </div>
                <div class="col-3 mt-2">@drink.Time.ToString("HH:mm")</div>
            </div>
        }
        @* <div class="row pt-3"> *@
        @*     <div class="col d-flex justify-content-end"> *@
        @*         <img src="../../Content/images/check-mark.svg" alt="done" width="64px" height="64px"> *@
        @*     </div> *@
        @*     <div class="col-3 w-50 row"> *@
        @*         <div class="col text-right" style="font-size: 25px">water</div> *@
        @*         <div class="w-100"></div> *@
        @*         <div class="col" style="font-size: 14px">300ml</div> *@
        @*     </div> *@
        @*     <div class="col-3 mt-2">12:15</div> *@
        @* </div> *@
        @* <div class="row pt-3"> *@
        @*     <div class="col d-flex justify-content-end"> *@
        @*         <img src="../../Content/images/check-mark.svg" alt="done" width="64px" height="64px"> *@
        @*     </div> *@
        @*     <div class="col-3 w-50 row"> *@
        @*         <div class="col text-right" style="font-size: 25px">milk</div> *@
        @*         <div class="w-100"></div> *@
        @*         <div class="col" style="font-size: 14px">200ml</div> *@
        @*     </div> *@
        @*     <div class="col-3 mt-2">11:15</div> *@
        @* </div> *@
    </div>
</div>